<h1>Here are the Cats, Todos, and Users!</h1>

<h2> Cats </h2>
<% @cats.each do |cat|%>
<%= cat.name %>
<% end %>

<h2> Users </h2>
<% @users.each do |user|%>
<%= user.name %>  <br/>
<%= user.email %> <br/>
<%= user.age %> <br/>
<% end %>

<h2> Todos </h2>
 <% @todos.each do |todo|%>
<%= todo.tasks %>  <br/>
<%= todo.finished %> <br/>
<% end %>